<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060939038503-njt7mi1kafkckh1hs9gmnimltrbt1fvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060939038503-njt7mi1kafkckh1hs9gmnimltrbt1fvf</string>
	<key>API_KEY</key>
	<string>AIzaSyDhFeGVKEftrrz_Unkt---c00XP_TCq0Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>1060939038503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firatBilgisayarSistemleri.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firat-bilgisayar-sisteml-4f89e</string>
	<key>STORAGE_BUCKET</key>
	<string>firat-bilgisayar-sisteml-4f89e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060939038503:ios:05e6281418d2d484c0b302</string>
</dict>
</plist>